.table {
   width: 100%;
   border: 3px;
}
th, td {
   width: 25%;
   
}


.body{
    color: purple;
    background-color: #d8da3d }


  #lista1 li {
         display:inline;
         padding-left:5px;
         padding-right:3px;
        background-color:violet;
    }
    .avatar  {
  width:60%;
  display: block;
  }
  .body {
      color: purple;
      background-color: grey;
    }
    .img{
  background-image: url("../AHD114may19/IMAGENES/cpu.jpg");
}
